.tr-logo img {
    height: 42px;
}

.tr-content-header {
    justify-content: flex-end;
}

.tr-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Custom Aside
$ASIDE-WIDTH: 300px;

.aside {
    width: $ASIDE-WIDTH;
}

@media (max-width: $ASIDE-WIDTH) {
    .aside {
        width: 100%;
    }
}

.aside.maximize .aside-body {
    width: $ASIDE-WIDTH;
}

@media (min-width: 1200px) {
    .aside-fixed+.content {
        margin-left: $ASIDE-WIDTH;
    }
}

.nav-item-cus ul {
    margin: 0;
    padding-left: 34px;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    height: 0;

    a {
        display: block;
        color: rgba(27, 46, 75, 0.75);
        padding: 2px 0;
    }
}