<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Detail Device</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="" routerLink="../">All Map</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Detail Device</li>
        </ol>
    </nav>
</div>
<tree [data]="tree" [debounceTime]="200" *ngIf="tree">
    <!-- Place your heading content here - there is allocated placeholder
         between the search bar and the tree -->
    <div style="display: flex; font-weight: bold; text-align: center; top: 0;
       position: sticky; background-color: white">
        <div style="width: 7rem; padding: 0 .2rem 0 .2rem; margin-left: auto;
           border: 1px solid #dee2e6; border-right: 0; border-top-left-radius: 0.25rem">Sales</div>
        <div style="width: 7rem; padding: 0 .2rem 0 .2rem; 
              border: 1px solid #dee2e6; border-top-right-radius: 0.25rem">%
            of Total</div>
    </div>
</tree>