<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Alert and Ticketing</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Alert and Ticketing</li>
        </ol>
    </nav>
</div>
<div class="card">
    <h6 class="card-header">List Alert</h6>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Created Date</th>
                    <th>Site</th>
                    <th>Policy Name</th>
                    <th>State</th>
                    <th title="Service Level Agreement">SLA</th>
                </tr>
            </thead>
        </table>
    </div>
</div>