<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Add User</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="" routerLink="../">User Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add User</li>
        </ol>
    </nav>
</div>
<form class="card" [formGroup]="formUser">
    <h6 class="card-header">User Form</h6>
    <div class="card-body">
        <div class="form-group form-row">
            <label for="username" class="col-md-2 col-form-label">Username</label>
            <div class="col-md-10">
                <input type="text" id="username" class="form-control" placeholder="Enter username"
                    formControlName="username">
            </div>
        </div>
        <div class="form-group form-row">
            <label for="" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Enter email" formControlName="email">
            </div>
        </div>
        <!-- <div class="form-group form-row">
            <label for="" class="col-md-2 col-form-label">Password</label>
            <div class="col-md-10">
                <div class="form-row">
                    <div class="col">
                        <input type="password" class="form-control" placeholder="Enter password">
                    </div>
                    <div class="col">
                        <input type="password" class="form-control" placeholder="Re enter password">
                    </div>
                </div>
            </div>
        </div> -->
        <div class="form-group form-row">
            <label for="role" class="col-md-2 col-form-label">Role</label>
            <div class="col-md-10">
                <select id="role" class="form-control" formControlName="role" #roleEl>
                    <option value="" disabled>Please select role</option>
                    <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                </select>
            </div>
        </div>
        <div class="form-group form-row" *ngIf="roleEl.value === 'REGION' || roleEl.value === 'SITE'">
            <label for="region" class="col-md-2 col-form-label">Region</label>
            <div class="col-md-10">
                <select id="region" class="form-control" formControlName="region">
                    <option value="">Please select region</option>
                    <ng-container *ngIf="regions">
                        <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
                    </ng-container>
                </select>
            </div>
        </div>
        <div class="form-group form-row" *ngIf="roleEl.value === 'SITE'">
            <label for="site" class="col-md-2 col-form-label">Site</label>
            <div class="col-md-10">
                <select id="site" class="form-control" formControlName="site">
                    <option value="">Please select site</option>
                    <ng-container *ngIf="sites">
                        <option *ngFor="let site of sites" [value]="site.id">{{ site.name }}</option>
                    </ng-container>
                </select>
            </div>
        </div>
    </div>
    <div class="card-footer tx-right">
        <button class="btn btn-primary mg-r-5" [disabled]="!formUser.valid" (click)="submit()">Submit</button>
        <button class="btn btn-danger" routerLink="../">Cancel</button>
    </div>
</form>