<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Komparasi PLN vs Rectifier Load</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Reporting</li>
            <li class="breadcrumb-item active" aria-current="page">Komparasi PLN vs Rectifier Load</li>
        </ol>
    </nav>
</div>
<iframe class="content"
    src="https://datastudio.google.com/embed/reporting/4251505e-a60a-4b3c-abaf-e7aa7ed388d0/page/ztDDB" frameborder="0"
    allowfullscreen></iframe>