<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Add Site</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="" routerLink="../">Site Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Site</li>
        </ol>
    </nav>
</div>
<div class="card">
    <h6 class="card-header">Form</h6>
    <div class="card-body">
        <div class="form-group row">
            <label for="" class="col-md-2 col-form-label">Name Asset</label>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Name Asset">
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-md-2 col-form-label">Site</label>
            <div class="col-md-10">
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Latitude">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Longitude">
                    </div>
                    <div class="col-md-auto text-right">
                        <button class="btn btn-primary mg-t-5 mg-md-t-0">Check Location</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-10 mg-t-10">
                <div style="height: 350px;" leaflet [leafletOptions]="options"></div>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-md-2 col-form-label">Region</label>
            <div class="col-md-10">
                <select class="form-control">
                    <option value="">Select Region</option>
                    <option value="1">Region 1</option>
                    <option value="2">Region 2</option>
                </select>
            </div>
        </div>
        <div class="bg-gray-100 mg-t-20 pd-10">
            <h6>Parameter</h6>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="">Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Parameter Name">
                </div>
                <div class="col-md-12">
                    <div class="bg-gray-200 mg-t-10 pd-10">
                        <h6>Asset</h6>
                        <div class="form-row bd-b">
                            <div class="col-md form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control" placeholder="Asset Name">
                            </div>
                            <div class="col-md form-group">
                                <label for="">Unit</label>
                                <input type="text" class="form-control" placeholder="Asset Unit">
                            </div>
                        </div>
                        <div class="tx-right mg-t-10">
                            <button class="btn btn-primary">Add Asset</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tx-right">
                <button class="btn btn-primary">Add Parameter</button>
            </div>
        </div>
    </div>
    <div class="card-footer tx-right">
        <button class="btn btn-primary mg-r-5">Submit</button><button class="btn btn-danger">Cancel</button>
    </div>
</div>