<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Add Site</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="" routerLink="../">Site Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Site</li>
        </ol>
    </nav>
</div>
<form class="card" [formGroup]="formSite">
    <h6 class="card-header">Form Site</h6>
    <div class="card-body">
        <div class="form-group row">
            <label for="" class="col-md-2 col-form-label">Site Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Site Name" formControlName="name">
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-md-2 col-form-label">Type Site</label>
            <div class="col-md-10">
                <select class="form-control" formControlName="type">
                    <option value="" disabled>Select Type Site</option>
                    <option *ngFor="let type of siteTypes" [ngValue]="type">{{ type }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-md-2 col-form-label">Location</label>
            <div class="col-md-10">
                <div class="form-row">
                    <div class="col">
                        <label for="" class="tx-gray-500">Latitude</label>
                        <input type="number" class="form-control" placeholder="Latitude" formControlName="latitude">
                    </div>
                    <div class="col">
                        <label for="" class="tx-gray-500">Longitude</label>
                        <input type="number" class="form-control" placeholder="Longitude" formControlName="longitude">
                    </div>
                    <div class="col-md-auto">
                        <button class="btn btn-primary mg-t-5 mg-md-t-30"
                            (click)="checkLocation(formSite.controls.latitude.value, formSite.controls.longitude.value, $event)"
                            [disabled]="!(formSite.controls.latitude.valid && formSite.controls.longitude.valid)">
                            Check Location
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row" *ngIf="showMap">
            <div class="col-md-2"></div>
            <div class="col-md-10 mg-t-10">
                <div style="height: 350px;" leaflet [leafletOptions]="mapOptions"
                    (leafletMapReady)="onMapReady($event)"></div>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-md-2 col-form-label">Region</label>
            <div class="col-md-10">
                <select class="form-control" formControlName="region">
                    <option value="" disabled>Select Region</option>
                    <option *ngFor="let region of siteRegions" [ngValue]="region">{{ region }}</option>
                </select>
            </div>
        </div>
        <div class="bg-gray-100 mg-t-20 pd-10">
            <h6>Asset</h6>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="">Asset Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Asset Name">
                </div>
                <div class="col-md-12">
                    <div class="bg-gray-200 mg-t-10 pd-10">
                        <h6>Parameter</h6>
                        <div class="form-row bd-b">
                            <div class="col-md form-group">
                                <label for="">Parameter Name</label>
                                <input type="text" class="form-control" placeholder="Parameter Name">
                            </div>
                            <div class="col-md form-group">
                                <label for="">Parameter Unit</label>
                                <input type="text" class="form-control" placeholder="Parameter Unit">
                            </div>
                        </div>
                        <div class="tx-right mg-t-10">
                            <button class="btn btn-primary">Add Parameter</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tx-right">
                <button class="btn btn-primary">Add Asset</button>
            </div>
        </div>
    </div>
    <div class="card-footer tx-right">
        <button class="btn btn-primary mg-r-5">Submit</button><button class="btn btn-danger">Cancel</button>
    </div>
</form>