<div class="modal-header">
    <h6 class="modal-title">Site Info</h6>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="">Site</label>
        <p class="tx-gray-500">
            <a href="" [routerLink]="['/user/site-management/site-profile', site.id]"
                (click)="activeModal.dismiss()">{{ site.name }}</a>
        </p>
    </div>
    <div class="form-group">
        <label for="">Status</label>
        <p class="tx-gray-500">{{ site.status }}</p>
    </div>
    <div class="form-group" *ngIf="site.status !== 'NORMAL' && site.status !== 'NO_COMM'">
        <label for="">Latest Incident</label>
        <ul class="mg-b-0">
            <li class="pd-b-10" *ngFor="let incident of incidents">
                <h6 class="mg-b-0">{{ incident.started_at | amDateFormat:'YYYY-MM-DD HH:mm:ss' }}</h6>
                {{ incident.condition_name }}
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" routerLink="/user/dashboard/detail-device"
        (click)="activeModal.dismiss('Cross click')">More Detail</button>
</div>