<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Alert Detail</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item" aria-current="page"><a href="" routerLink="../">Alert and Ticketing</a></li>
            <li class="breadcrumb-item active" aria-current="page">Alert and Ticketing</li>
        </ol>
    </nav>
</div>
<form class="card" [formGroup]="formResolve">
    <h6 class="card-header">Detail</h6>
    <div class="card-body">
        <div class="form-group form-row">
            <label for="" class="col-md-2">Site</label>
            <div class="col-md-10 tx-gray-500">{{ alert.name }}</div>
        </div>
        <div class="form-group form-row">
            <label for="" class="col-md-2">Created Date</label>
            <div class="col-md-10 tx-gray-500">{{ alert.started_at }}</div>
        </div>
        <div class="form-group form-row">
            <label for="" class="col-md-2">Policy Name</label>
            <div class="col-md-10 tx-gray-500">{{ alert.policy_name }}</div>
        </div>
        <div class="form-group form-row">
            <label for="" class="col-md-2">Condition Name</label>
            <div class="col-md-10 tx-gray-500">{{ alert.condition_name }}</div>
        </div>
        <div class="form-group form-row">
            <label for="" class="col-md-2">Summary</label>
            <div class="col-md-10 tx-gray-500">{{ alert.sumary_incident }}</div>
        </div>
        <div class="form-group form-row">
            <label for="" class="col-md-2">More Detail</label>
            <div class="col-md-10">
                <a [href]="alert.url" class="link-04">{{ alert.url }}</a>
            </div>
        </div>
        <div class="form-group form-row">
            <label for="" class="col-md-2">Resolve Note</label>
            <div class="col-md-10">
                <textarea name="" id="" rows="2" class="form-control" placeholder="Enter resolve note"
                    formControlName="message"></textarea>
            </div>
        </div>
    </div>
    <div class="card-footer tx-right">
        <button class="btn btn-primary mg-r-5" [disabled]="!formResolve.valid" (click)="resolve()">Resolve</button>
        <button class="btn btn-danger" routerLink="../">Cancel</button>
    </div>
</form>