<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Detail Site</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item" aria-current="page"><a href="" routerLink="../../">Site Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detail Site</li>
        </ol>
    </nav>
</div>
<strong *ngIf="loading">Loading...</strong>
<div class="table-responsive" *ngIf="!loading">
    <table style="zoom: 0.75;">
        <tr>
            <td class="d-flex flex-column">
                <app-item [item]="acPln[0]" *ngIf="acPln.length" [src]="'assets/img/electric-tower.svg'"></app-item>
                <div>
                    <button class="btn btn-primary"
                        [routerLink]="['/user/site-management/site-profile-old', siteId]">More Detail</button>
                </div>
            </td>
            <td>
                <table class="mg-b-20 bd bd-3">
                    <tr>
                        <td class="d-flex">
                            <app-item [item]="rectifierSummary[0]" *ngIf="rectifierSummary.length"
                                [src]="'assets/img/rectifier.svg'"></app-item>
                        </td>
                        <td>
                            <app-item *ngFor="let item of rectifierDetail" [item]="item"></app-item>
                        </td>
                    </tr>
                </table>
                <table class="bd bd-3">
                    <tr>
                        <td class="d-flex">
                            <app-item [item]="batterySummary[0]" *ngIf="batterySummary.length"
                                [src]="'assets/img/battery.svg'"></app-item>
                        </td>
                        <td>
                            <app-item *ngFor="let item of batteryDetail" [item]="item"></app-item>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>