<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Battery Load Comparation</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Reporting</li>
            <li class="breadcrumb-item active" aria-current="page">Battery Load Comparation</li>
        </ol>
    </nav>
</div>
<iframe class="content"
    src="https://datastudio.google.com/embed/reporting/e31622af-0c32-4da9-b6d6-81debfc12b37/page/pIEDB" frameborder="0"
    allowfullscreen></iframe>