<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Detail Site</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item" aria-current="page"><a href="" routerLink="../../">Site Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detail Site</li>
        </ol>
    </nav>
</div>

<div style="position: relative;">
    <svg #svg></svg>

    <div id="ac-power" class="table-detail hidden">
        <div class="card" *ngIf="acPlnObs | async as acPln; else loading">
            <h6 class="card-header">{{ acPln[0].groupName }}</h6>
            <div class="card-body">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>Property Name</th>
                            <th>Value</th>
                            <th>Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of acPln[0].assetPropertyDatas">
                            <td>{{ item.propertyName }}</td>
                            <td>{{ item.value }}</td>
                            <td>{{ item.unitOfMeasurement }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="rectifier" class="table-detail hidden">
        <div class="card">
            <h6 class="card-header">Rectifier</h6>
            <div class="card-body">
                <ng-container *ngIf="rectifierSummaryObs | async as rectifierSummary; else loading2">
                    <h6>Summary</h6>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Property Name</th>
                                <th>Value</th>
                                <th>Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of rectifierSummary[0].assetPropertyDatas">
                                <td>{{ item.propertyName }}</td>
                                <td>{{ item.value }}</td>
                                <td>{{ item.unitOfMeasurement }}</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
                <hr>
                <ng-container *ngIf="rectifierDetailsObs | async as rectifierDetails; else loading2">
                    <h6>Detail</h6>
                    <ul>
                        <li *ngFor="let rectifierDetail of rectifierDetails">
                            <small class="tx-bold">{{ rectifierDetail.groupName }}</small>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="tx-gray-500">Property Name</th>
                                        <th class="tx-gray-500">Value</th>
                                        <th class="tx-gray-500">Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of rectifierDetail.assetPropertyDatas">
                                        <td>{{ item.propertyName }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.unitOfMeasurement }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </ng-container>
            </div>
        </div>
    </div>

    <div id="battery" class=" table-detail hidden">
        <div class="card">
            <h6 class="card-header">Battery</h6>
            <div class="card-body">
                <ng-container *ngIf="batterySummaryObs | async as batterySummary; else loading2">
                    <h6>Summary</h6>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Property Name</th>
                                <th>Value</th>
                                <th>Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of batterySummary[0].assetPropertyDatas">
                                <td>{{ item.propertyName }}</td>
                                <td>{{ item.value }}</td>
                                <td>{{ item.unitOfMeasurement }}</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
                <hr>
                <ng-container *ngIf="batteryDetailsObs | async as batterDetails; else loading2">
                    <h6>Detail</h6>
                    <ul>
                        <li *ngFor="let batteryDetail of batterDetails">
                            <small class="tx-bold">{{ batteryDetail.groupName }}</small>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="tx-gray-500">Property Name</th>
                                        <th class="tx-gray-500">Value</th>
                                        <th class="tx-gray-500">Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of batteryDetail.assetPropertyDatas">
                                        <td>{{ item.propertyName }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.unitOfMeasurement }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </ng-container>
            </div>
        </div>
    </div>

    <div id="dc-load" class="card table-detail hidden">
        <h6 class="card-header">DC Load</h6>
        <div class="card-body">
            <h6>DC Load 1</h6>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam fugiat tempora aspernatur dolores
                earum
                assumenda adipisci facilis? Delectus accusantium quod ab nulla numquam doloremque, blanditiis, repellat
                maxime velit voluptatum unde?
            </p>

            <h6>DC Load 2</h6>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam fugiat tempora aspernatur dolores
                earum
                assumenda adipisci facilis? Delectus accusantium quod ab nulla numquam doloremque, blanditiis, repellat
                maxime velit voluptatum unde?
            </p>

            <h6>DC Load 3</h6>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam fugiat tempora aspernatur dolores
                earum
                assumenda adipisci facilis? Delectus accusantium quod ab nulla numquam doloremque, blanditiis, repellat
                maxime velit voluptatum unde?
            </p>
        </div>
    </div>
</div>

<ng-template #loading>
    <h6 class="card card-body tx-center">Loading...</h6>
</ng-template>

<ng-template #loading2>
    <h6 class="tx-center">Loading...</h6>
</ng-template>