<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Detail Site</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item" aria-current="page"><a href="" routerLink="../../">Site Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detail Site</li>
        </ol>
    </nav>
</div>

<div style="position: relative;">
    <svg #svg></svg>

    <div id="ac-power" class="card table-detail hidden">
        <h6 class="card-header">AC Power</h6>
        <div class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam fugiat tempora aspernatur dolores earum
            assumenda adipisci facilis? Delectus accusantium quod ab nulla numquam doloremque, blanditiis, repellat
            maxime velit voluptatum unde?
        </div>
    </div>

    <div id="rectifier" class="card table-detail hidden">
        <h6 class="card-header">Rectifier</h6>
        <div class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam fugiat tempora aspernatur dolores earum
            assumenda adipisci facilis? Delectus accusantium quod ab nulla numquam doloremque, blanditiis, repellat
            maxime velit voluptatum unde?
        </div>
    </div>

    <div id="battery" class="card table-detail hidden">
        <h6 class="card-header">Battery</h6>
        <div class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam fugiat tempora aspernatur dolores earum
            assumenda adipisci facilis? Delectus accusantium quod ab nulla numquam doloremque, blanditiis, repellat
            maxime velit voluptatum unde?
        </div>
    </div>

    <div id="dc-load" class="card table-detail hidden">
        <h6 class="card-header">DC Load</h6>
        <div class="card-body">
            <h6>DC Load 1</h6>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam fugiat tempora aspernatur dolores
                earum
                assumenda adipisci facilis? Delectus accusantium quod ab nulla numquam doloremque, blanditiis, repellat
                maxime velit voluptatum unde?
            </p>

            <h6>DC Load 2</h6>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam fugiat tempora aspernatur dolores
                earum
                assumenda adipisci facilis? Delectus accusantium quod ab nulla numquam doloremque, blanditiis, repellat
                maxime velit voluptatum unde?
            </p>

            <h6>DC Load 3</h6>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam fugiat tempora aspernatur dolores
                earum
                assumenda adipisci facilis? Delectus accusantium quod ab nulla numquam doloremque, blanditiis, repellat
                maxime velit voluptatum unde?
            </p>
        </div>
    </div>
</div>