<div class="card card-body mr-2 mb-2">
    <table>
        <tr>
            <td class="tx-center" *ngIf="src">
                <img [src]="src" style="width: 200px;">
            </td>
            <td class="wd-500">
                <h6>{{ item.groupName }}</h6>
                <small [ngClass]="{
                    'tx-danger': last5Minute(item.lastDataTime),
                    'tx-primary': !last5Minute(item.lastDataTime)
                }" >Last Date: {{ item.lastDataTime | date: 'medium' }}</small>
                <div class="table-responsive mb-0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Property Name</th>
                                <th>Value</th>
                                <th>Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let property of item.assetPropertyDatas"
                                [routerLink]="['/user/site-management/health-history', property.assetPropertyId]">
                                <td>{{ property.propertyName }}</td>
                                <td>{{ property.value | number: '.0-2' }}</td>
                                <td>{{ property.unitOfMeasurement }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>