<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">All Map</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">All Map</li>
        </ol>
    </nav>
</div>
<div class="card">
    <h6 class="card-header">Site Mapping</h6>
    <div class="card-body row row-xs">
        <div id="accordion" class="col-md-4">
            <div class="card mg-b-10">
                <div id="danger" class="card-header tx-center bg-pink" data-toggle="collapse" data-target="#dangerList"
                    aria-expanded="true" aria-controls="dangerList" (click)="updateLayer(dangers, markerIcon.danger)">
                    <h4 class="tx-normal tx-rubik tx-40 tx-spacing--1 mg-b-0">{{ dangers.length }}</h4>
                    <span class="tx-12 tx-uppercase tx-semibold tx-spacing-1 tx-color-02">Danger</span>
                </div>
                <div id="dangerList" class="collapse show table-responsive" aria-labelledby="danger"
                    data-parent="#accordion">
                    <table class="table table-hover mg-b-0">
                        <thead>
                            <tr>
                                <th>Site</th>
                                <th>Suggest Action</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let danger of dangers" (mouseenter)="focusTo(danger, $event)"
                                (click)="focusTo(danger, $event)">
                                <td>{{ danger.site }}</td>
                                <td>{{ danger.suggestAction }}</td>
                                <td class="tx-right">
                                    <button class="btn btn-primary"
                                        (click)="openModalDetail(danger, $event)">Detail</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mg-b-10">
                <div id="warning" class="card-header tx-center bg-warning" data-toggle="collapse"
                    data-target="#warningList" aria-expanded="true" aria-controls="warningList"
                    (click)="updateLayer(warnings, markerIcon.warning)">
                    <h4 class="tx-normal tx-rubik tx-40 tx-spacing--1 mg-b-0">{{ warnings.length }}</h4>
                    <span class="tx-12 tx-uppercase tx-semibold tx-spacing-1 tx-color-02">Warning</span>
                </div>
                <div id="warningList" class="collapse table-responsive" aria-labelledby="warning"
                    data-parent="#accordion">
                    <table class="table table-hover mg-b-0">
                        <thead>
                            <tr>
                                <th>Site</th>
                                <th>Suggest Action</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let warning of warnings" (mouseenter)="focusTo(warning, $event)"
                                (click)="focusTo(warning, $event)">
                                <td>{{ warning.site }}</td>
                                <td>{{ warning.suggestAction }}</td>
                                <td class="tx-right">
                                    <button class="btn btn-primary"
                                        (click)="openModalDetail(warning, $event)">Detail</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mg-b-10">
                <div id="normal" class="card-header tx-center bg-brand-03" data-toggle="collapse"
                    data-target="#normalList" aria-expanded="true" aria-controls="normalList"
                    (click)="updateLayer(normals, markerIcon.normal)">
                    <h4 class="tx-normal tx-rubik tx-40 tx-spacing--1 mg-b-0">{{ normals.length }}</h4>
                    <span class="tx-12 tx-uppercase tx-semibold tx-spacing-1 tx-color-02">Normal</span>
                </div>
                <div id="normalList" class="collapse table-responsive" aria-labelledby="normal"
                    data-parent="#accordion">
                    <table class="table table-hover mg-b-0">
                        <thead>
                            <tr>
                                <th>Site</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let normal of normals" (mouseenter)="focusTo(normal, $event)"
                                (click)="focusTo(normal, $event)">
                                <td>{{ normal.site }}</td>
                                <td class="tx-right">
                                    <button class="btn btn-primary"
                                        (click)="openModalDetail(normal, $event)">Detail</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <h6 id="filter" class="card-header" data-toggle="collapse" data-target="#filterList"
                    aria-expanded="true" aria-controls="filterList" style="cursor: pointer;">Filter Data</h6>
                <div id="filterList" class="collapse" aria-labelledby="filter" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="status">Filter by status</label>
                            <select id="status" class="form-control">
                                <option value="">None</option>
                                <option value="danger">Danger</option>
                                <option value="warning">Warning</option>
                                <option value="normal">Normal</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="region">Filter by region</label>
                            <select id="region" class="form-control">
                                <option value="">None</option>
                                <option value="region1">Region 1</option>
                                <option value="region2">Region 2</option>
                                <option value="region3">Region 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary">Set Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div style="height: 500px;" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"></div>
        </div>
    </div>
</div>
<div class="card mg-t-10">
    <h6 class="card-header">Alert and Ticketing</h6>
    <div class="card-body row row-xs">
        <div class="col-md-4">
            <div class="card">
                <h6 class="mg-b-0 card-header tx-gray-500">Ticket</h6>
                <div class="card-body pd-lg-10">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                        [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors"
                        [legend]="pieChartLegend">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mg-t-10 mg-md-t-0">
                <h6 class="card-header tx-gray-500 bd-b-0">SLA and Escalation</h6>
                <div class="table-responsive">
                    <table class="table table-invoice mg-b-0">
                        <tr>
                            <th>0 - 4 Hours</th>
                            <td class="tx-primary tx-right">-</td>
                        </tr>
                        <tr>
                            <th>4 - 24 Hours</th>
                            <td class="tx-primary tx-right">5 Tickets</td>
                        </tr>
                        <tr>
                            <th>1 - 2 Days</th>
                            <td class="tx-primary tx-right">-</td>
                        </tr>
                        <tr>
                            <th>> 2 Days</th>
                            <td class="tx-primary tx-right">10 Tickets</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mg-t-10 mg-md-t-0">
                <h6 class="card-header tx-gray-500 bd-b-0">Latest Alert</h6>
                <div class="table-responsive">
                    <table class="table table-invoice mg-b-0">
                        <tr>
                            <th>BTSH Bandung 1</th>
                            <td class="tx-primary tx-right">1 hour ago</td>
                        </tr>
                        <tr>
                            <th>BTSP Jayapura 3</th>
                            <td class="tx-primary tx-right">2 hour ago</td>
                        </tr>
                        <tr>
                            <th>IPLH Padang 1</th>
                            <td class="tx-primary tx-right">3 days ago</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer tx-center">
                    <button class="btn btn-sm btn-primary">Show More</button>
                </div>
            </div>
            <div class="card mg-t-10">
                <h6 class="card-header tx-gray-500 bd-b-0">Top Alert</h6>
                <div class="table-responsive">
                    <table class="table table-invoice mg-b-0">
                        <tr>
                            <th>High Temperature Battery</th>
                            <td class="tx-primary tx-right">1 hour ago</td>
                        </tr>
                        <tr>
                            <th>Empty Fuel Tank</th>
                            <td class="tx-primary tx-right">2 hour ago</td>
                        </tr>
                        <tr>
                            <th>High Kwh Usage</th>
                            <td class="tx-primary tx-right">3 days ago</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer tx-center">
                    <button class="btn btn-sm btn-primary">Show More</button>
                </div>
            </div>
            <div class="card mg-t-10">
                <h6 class="card-header tx-gray-500 bd-b-0">Top Sites with Alert</h6>
                <div class="table-responsive">
                    <table class="table table-invoice mg-b-0">
                        <tr>
                            <th>BTSH Bandung 1</th>
                            <td class="tx-primary tx-right">1 hour ago</td>
                        </tr>
                        <tr>
                            <th>BTSP Sukabumi 2</th>
                            <td class="tx-primary tx-right">2 hour ago</td>
                        </tr>
                        <tr>
                            <th>IPLH Cianjur 7</th>
                            <td class="tx-primary tx-right">3 days ago</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer tx-center">
                    <button class="btn btn-sm btn-primary">Show More</button>
                </div>
            </div>
        </div>
    </div>
</div>