<div class="card">
    <div class="card-header d-lg-flex justify-content-between">
        <h6>Site Mapping</h6>
        <div class="form-inline">
            <label for="region" class="mg-r-10">Filter by Region</label>
            <select id="region" class="form-control form-control-sm" [(ngModel)]="selectedRegion"
                (ngModelChange)="onRegionChange(selectedRegion, $event)">
                <option value="ALL">ALL</option>
                <option *ngFor="let region of regions" [ngValue]="region">{{ region }}</option>
            </select>
        </div>
    </div>
    <div class="card-body">
        <div class="row row-xs mg-b-10">
            <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card ht-120 tx-center bg-pink danger"
                    title="Danger {{ toPercent(siteStatistics.danger, siteStatistics.all) }}%"
                    (click)="onStatusChange('DANGER', $event)">
                    <div class="my-auto">
                        <h4 class="tx-normal tx-rubik tx-40 tx-spacing--1 mg-b-0">
                            {{ siteStatistics.danger }}
                        </h4>
                        <span class="tx-16 tx-uppercase tx-semibold tx-spacing-1">Danger</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card ht-120 tx-center bg-warning warning"
                    title="Warning {{ toPercent(siteStatistics.warning, siteStatistics.all) }}%"
                    (click)="onStatusChange('WARNING', $event)">
                    <div class="my-auto">
                        <h4 class="tx-normal tx-rubik tx-40 tx-spacing--1 mg-b-0">
                            {{ siteStatistics.warning }}
                        </h4>
                        <span class="tx-16 tx-uppercase tx-semibold tx-spacing-1">Warning</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card ht-120 tx-center bg-brand-03 normal"
                    title="Normal {{ toPercent(siteStatistics.normal, siteStatistics.all) }}%"
                    (click)="onStatusChange('NORMAL', $event)">
                    <div class="my-auto">
                        <h4 class="tx-normal tx-rubik tx-40 tx-spacing--1 mg-b-0">
                            {{ siteStatistics.normal }}
                        </h4>
                        <span class="tx-16 tx-uppercase tx-semibold tx-spacing-1">Normal</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card ht-120 tx-center bg-gray-5 no-comm"
                    title="No Communication {{ toPercent(siteStatistics.no_comm, siteStatistics.all) }}%"
                    (click)="onStatusChange('NO_COMM', $event)">
                    <div class="my-auto">
                        <h4 class="tx-normal tx-rubik tx-40 tx-spacing--1 mg-b-0">
                            {{ siteStatistics.no_comm }}
                        </h4>
                        <span class="tx-16 tx-uppercase tx-semibold tx-spacing-1">No Communication</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-xs">
            <div class="col-lg-4">
                <div class="card ht-400">
                    <div class="card-header bd-b-0">
                        <h6>LIST {{ selectedRegion }} SITES</h6>
                        <p class="tx-13 tx-color-03 mg-b-0">
                            Status: {{ selectedStatus === 'NO_COMM'? 'NO COMMUNICATION': selectedStatus }}
                        </p>
                    </div>
                    <div class="table-responsive" style="overflow-y: auto;">
                        <table class="table table-hover mg-b-0">
                            <thead>
                                <tr>
                                    <th class="wd-150">Site Name</th>
                                    <th>Type</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let site of filteredSites" (click)="focusTo(site, $event)"
                                    (mouseenter)="focusTo(site, $event)">
                                    <td>{{ site.name }}</td>
                                    <td>{{ site.type }}</td>
                                    <td class="tx-right">
                                        <button class="btn btn-sm btn-primary"
                                            (click)="openModalSiteDetail(site, $event)">Detail</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mg-t-10 mg-lg-t-0">
                <div class="ht-400" leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)"></div>
            </div>
        </div>
    </div>
</div>
<div class="card mg-t-10">
    <h6 class="card-header">Reporting</h6>
    <div class="card-body row row-xs">
        <div class="col-lg-12 mg-b-10">
            <div class="card">
                <h6 class="mg-b-0 card-header tx-gray-500">Data Analytics</h6>
                <iframe class="card-body ht-600"
                    src="https://datastudio.google.com/embed/reporting/f49f7c0a-e6fa-436c-803f-f5b11f840a64/page/wVOGB"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <h6 class="mg-b-0 card-header tx-gray-500">Region Availability</h6>
                <iframe class="card-body ht-400"
                    src="https://datastudio.google.com/embed/reporting/aa3a7c94-be51-49a2-a165-d21428360178/page/6Of9"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mg-t-10 mg-lg-t-0">
                <h6 class="mg-b-0 card-header tx-gray-500">Ticket</h6>
                <iframe class="card-body ht-400"
                    src="https://datastudio.google.com/embed/reporting/f62bf697-abac-4c64-a5c9-4eeba4e80ed5/page/Z0f9"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mg-t-10">
                <h6 class="card-header tx-gray-500 bd-b-0">SLA and Escalation</h6>
                <div class="table-responsive">
                    <table class="table table-invoice mg-b-0">
                        <tr>
                            <th>0 - 4 Hours</th>
                            <td class="tx-primary tx-right">-</td>
                        </tr>
                        <tr>
                            <th>4 - 24 Hours</th>
                            <td class="tx-primary tx-right">5 Tickets</td>
                        </tr>
                        <tr>
                            <th>1 - 2 Days</th>
                            <td class="tx-primary tx-right">-</td>
                        </tr>
                        <tr>
                            <th>> 2 Days</th>
                            <td class="tx-primary tx-right">10 Tickets</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mg-t-10">
                <h6 class="card-header tx-gray-500 bd-b-0">Reason Incident</h6>
                <div class="table-responsive">
                    <table class="table table-invoice mg-b-0">
                        <tr>
                            <th>BTS Bandung 1</th>
                            <td class="tx-primary tx-right">1 hour ago</td>
                        </tr>
                        <tr>
                            <th>BTS Jayapura 3</th>
                            <td class="tx-primary tx-right">2 hour ago</td>
                        </tr>
                        <tr>
                            <th>IPLH Padang 1</th>
                            <td class="tx-primary tx-right">3 days ago</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer tx-center">
                    <button class="btn btn-sm btn-primary">Show More</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mg-t-10">
                <h6 class="card-header tx-gray-500 bd-b-0">Most Frequent Issues</h6>
                <div class="table-responsive">
                    <table class="table table-invoice mg-b-0">
                        <tr>
                            <th>High Temperature Battery</th>
                            <td class="tx-primary tx-right">10 cases</td>
                        </tr>
                        <tr>
                            <th>Empty Fuel Tank</th>
                            <td class="tx-primary tx-right">3 cases</td>
                        </tr>
                        <tr>
                            <th>High Kwh Usage</th>
                            <td class="tx-primary tx-right">3 cases</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer tx-center">
                    <button class="btn btn-sm btn-primary">Show More</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mg-t-10">
                <h6 class="card-header tx-gray-500 bd-b-0">Most Problematic Site</h6>
                <div class="table-responsive">
                    <table class="table table-invoice mg-b-0">
                        <tr>
                            <th>BTS Bandung 1</th>
                            <td class="tx-primary tx-right">3 alerts/day</td>
                        </tr>
                        <tr>
                            <th>BTS Sukabumi 2</th>
                            <td class="tx-primary tx-right">2 alerts/day</td>
                        </tr>
                        <tr>
                            <th>IPLH Cianjur 7</th>
                            <td class="tx-primary tx-right">3 alerts/day</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer tx-center">
                    <button class="btn btn-sm btn-primary">Show More</button>
                </div>
            </div>
        </div>
    </div>
</div>