<div class="card">
    <div class="card-header d-lg-flex justify-content-between">
        <h6>Site Mapping</h6>
        <div class="form-inline">
            <label for="region" class="mg-r-10">Filter by Region</label>
            <select id="region" class="form-control form-control-sm" [(ngModel)]="selectedRegion"
                (ngModelChange)="onRegionChange(selectedRegion, $event)">
                <option value="ALL">ALL</option>
                <option *ngFor="let region of regions" [ngValue]="region">{{ region }}</option>
            </select>
        </div>
    </div>
    <div class="card-body">
        <div class="row row-xs mg-b-10">
            <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card ht-120 tx-center bg-pink danger"
                    title="Danger {{ toPercent(siteStatistics.danger, siteStatistics.all) }}%"
                    (click)="onStatusChange('DANGER', $event)">
                    <div class="my-auto">
                        <h4 class="tx-normal tx-rubik tx-40 tx-spacing--1 mg-b-0">
                            {{ siteStatistics.danger }}
                        </h4>
                        <span class="tx-16 tx-uppercase tx-semibold tx-spacing-1">Danger</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card ht-120 tx-center bg-warning warning"
                    title="Warning {{ toPercent(siteStatistics.warning, siteStatistics.all) }}%"
                    (click)="onStatusChange('WARNING', $event)">
                    <div class="my-auto">
                        <h4 class="tx-normal tx-rubik tx-40 tx-spacing--1 mg-b-0">
                            {{ siteStatistics.warning }}
                        </h4>
                        <span class="tx-16 tx-uppercase tx-semibold tx-spacing-1">Warning</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card ht-120 tx-center bg-brand-03 normal"
                    title="Normal {{ toPercent(siteStatistics.normal, siteStatistics.all) }}%"
                    (click)="onStatusChange('NORMAL', $event)">
                    <div class="my-auto">
                        <h4 class="tx-normal tx-rubik tx-40 tx-spacing--1 mg-b-0">
                            {{ siteStatistics.normal }}
                        </h4>
                        <span class="tx-16 tx-uppercase tx-semibold tx-spacing-1">Normal</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card ht-120 tx-center bg-gray-5 no-comm"
                    title="No Communication {{ toPercent(siteStatistics.no_comm, siteStatistics.all) }}%"
                    (click)="onStatusChange('NO_COMM', $event)">
                    <div class="my-auto">
                        <h4 class="tx-normal tx-rubik tx-40 tx-spacing--1 mg-b-0">
                            {{ siteStatistics.no_comm }}
                        </h4>
                        <span class="tx-16 tx-uppercase tx-semibold tx-spacing-1">No Communication</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-xs">
            <div class="col-lg-4">
                <div class="card ht-400">
                    <div class="card-header bd-b-0">
                        <h6>LIST {{ selectedRegion }} SITES</h6>
                        <p class="tx-13 tx-color-03 mg-b-0">
                            Status: {{ selectedStatus === 'NO_COMM'? 'NO COMMUNICATION': selectedStatus }}
                        </p>
                    </div>
                    <div class="table-responsive" style="overflow-y: auto;">
                        <table class="table table-hover mg-b-0">
                            <thead>
                                <tr>
                                    <th class="wd-150">Site Name</th>
                                    <th>Type</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let site of filteredSites" (click)="focusTo(site, $event)"
                                    (mouseenter)="focusTo(site, $event)">
                                    <td>{{ site.name }}</td>
                                    <td>{{ site.type }}</td>
                                    <td class="tx-right">
                                        <button class="btn btn-sm btn-primary"
                                            (click)="openModalSiteDetail(site, $event)">Detail</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mg-t-10 mg-lg-t-0">
                <div class="ht-400" leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)"></div>
            </div>
        </div>
    </div>
</div>