<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Site Management</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Site Management</li>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-header d-md-flex justify-content-between">
        <h6 class="mg-b-0">List of Site</h6>
        <button class="btn btn-sm btn-primary" routerLink="site-form">Add Site</button>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Site Name</th>
                    <th>Region</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let site of sites">
                    <td>{{ site.name }}</td>
                    <td>{{ site.region }}</td>
                    <td>{{ site.type }}</td>
                    <td>{{ site.status }}</td>
                    <td class="tx-right">
                        <button class="btn btn-primary mg-r-5" routerLink="config-device">Config Device</button>
                        <button class="btn btn-primary" [routerLink]="['site-profile', site.id]">Profile</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>