<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Site Management</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Site Management</li>
        </ol>
    </nav>
</div>
<div class="ht-400" leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)"></div>
<div class="card mt-2">
    <div class="card-header d-md-flex justify-content-between">
        <h6 class="mg-b-0">List of Site</h6>
        <button class="btn btn-sm btn-primary" routerLink="site-form">Add Site</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
                <thead>
                    <tr>
                        <th>Site Name</th>
                        <th>Region</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th class="wd-200"></th>
                    </tr>
                <tbody>
                    <tr *ngFor="let site of sites">
                        <td>{{ site.name }}</td>
                        <td>{{ site.region }}</td>
                        <td>{{ site.type }}</td>
                        <td>{{ site.status }}</td>
                        <td class="tx-right">
                            <button class="btn btn-sm btn-primary mg-r-5" [routerLink]="['config-device', site.id]">
                                Config Device
                            </button>
                            <button class="btn btn-sm btn-primary"
                                [routerLink]="['site-profile', site.id]">Detail</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>