<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Sensor Explorer</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Sensor Explorer</li>
        </ol>
    </nav>
</div>
<iframe height="900" src="https://datastudio.google.com/embed/reporting/a222433f-bd22-47c4-85db-d01a2eaec9d2/page/dQH9"
    frameborder="0" style="border:0; width:100%" allowfullscreen></iframe>